<footer class="w-full justify-between pt-36 left-0 md:flex">
    <p>&copy;  Copyright FC Barcelona <span class="font-extralight">Página Oficial del FC Barcelona</span></p>
    <div class="">

        <ul class="text-xs flex flex-col justify-center items-center w-full gap-1 py-2 text-white md:flex-row">
            <li><a href="#" class="mx-6">Términos legales</a></li>
            <li><a href="#" class="mx-6">Politica de privacidad</a></li>
            <li><a href="#" class="mx-6">Cookies</a></li>
            <li><a href="#" class="mx-6">Accesibilidad</a></li>
            <li><a href="#" class="mx-6">Contáctenos</a></li>
            <li><a href="/" class="mx-6">Centro de Ayuda</a></li>

        </ul>
    </div>
</footer>
