@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'fcb-bold';
  src: local('FC Barcelona Bold'), local('FC-Barcelona-Bold'),
      url('assets/font/FC_BARCELONA-Bold.woff2') format('woff2'),
      format('truetype');
  font-weight: 700;
  font-style: normal;
}


@layer base {
    html {
      font-family: "fcb-bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
      color: #fff;
    }
  }

:root {
    --blue: #007bff;
    --gray-dark: #343a40;
    --primary: #007bff;
    --warning: #ffc107;
    --blue-dark:rgba(2, 35, 109, .95);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(180deg,
            var(--orange-red) 0%,
            var(--vivid-pink) 50%,
            var(--electric-violet) 100%);

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg,
            var(--orange-red) 0%,
            var(--vivid-pink) 50%,
            var(--electric-violet) 100%);

    --pill-accent: var(--bright-blue);


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
